#water-footprint-tool select {
  font-size: 1.1em;
  height: 2em;
  width: 20%;
  min-width: 12.5em;
}

@media screen and (max-width:29em) {
  #water-footprint-tool select {
    width: 100%;
    min-width: 100%;
  }
}

/* Heading and Instructions */
#water-footprint-tool header {
  margin: 3.125em 0 1.625em;
}

#water-footprint-tool .instructions {
  font-size: 1.25em;
}

#water-footprint-tool .credits {
  font-size: .9em;
}

#water-footprint-tool .result p {
  margin: 0;
}

/* Water Footprint Readout */
#water-footprint-tool .heading {
  font-size: 2.25em;
}

#water-footprint-tool .water-amount {
  font-size: 2em;
}

#water-footprint-tool .bulk-readout,
#water-footprint-tool .serving-readout,
#water-footprint-tool .no-info {
  margin: 1em 0;
}

#water-footprint-tool .secondary {
  margin-top: 2em;
  font-size: 80%;
}

#water-footprint-tool .choose-item {
  font-size: 1.2em;
}

/* Basic Styling */

#water-footprint-tool {
  font-size: 16px;
}

#water-footprint-tool h1 {
  font-size: 175%;
}

#water-footprint-tool h2 {
  font-size: 150%;
}

#water-footprint-tool h3 {
  font-size: 125%;
}

#water-footprint-tool h4 {
  font-size: 115%;
}

#water-footprint-tool h5 {
  font-size: 110%;
}

#water-footprint-tool h6 {
  font-size: 105%;
}

#water-footprint-tool a {
  color: rgb(16,88,104);
}
